<div class="d-flex align-items-center flex-column">
  <h1 class="mt-5">Dashboard Controller</h1>

  <h2>Welcome: <%= Current.user.login%> </h2>
</div>
<div class="mt-5">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% Application.all.each do |application|%>
      <% if application.default_status%>
          <div class="card" style="max-width: 18rem;">
            <div class="card-body">
              <h3 class="card-title"><%= application.name%></h3>
              <p class="card-text"><%= application.description %> </p>
              <%= link_to "Launch", application.link, class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
  
