/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }

 #page-controller {
  position: relative;
  min-height: 100vh;
 }

h1, h2, h3 {
  text-align: center;
  margin-top: 5px;
}

.card-title a {
  float:right;
}

.footer {
  position:relative;
  left:0;
  bottom: 0;
  margin: auto;
  height: 5rem;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.03);
}

.footer p {
  margin-top:1rem;
  text-align: center;
}

.sign-in-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.card{
  max-width:18rem;
  min-height:15rem;
 }


.align-right{
  text-align: right;
}